.rakhi-display {
  margin-top: 30px;
}
.rakhi-display h2 {
   color: #e8530ef0;
  font-size: max(2vw, 24px);
  font-weight: 600;
}
.rakhi-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));

  margin-top: 30px;
  gap: 30px;
  row-gap: 50px;
}
